{% extends 'requestdataapp/base.html' %}
{% block title %}
User BIO
{% endblock %}

{% block body %}
<h1>User form</h1>
<div>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="name-id">Full name</label>
            <input id="name-id" name="name" type="text" maxlength="100">
        </p>
        <p>
            <label for="age">Age</label>
            <input id="age" name="age" type="number" min="1" max="99">
        </p>
        <p>
            <label for="bio">User's bio</label>
            <textarea name="bio" id="bio" cols="12" rows="5"></textarea>
        </p>
        <button type="submit">Submit</button>
    </form>
</div>
{% if request.POST %}
<div>
    <h2>Previous form data:</h2>
<table>
    <tr>
        <td>Full name:</td>
        <td>{{ request.POST.name }}</td>
    </tr>
    <tr>
        <td>Age:</td>
        <td>{{ request.POST.age }}</td>
    </tr>
    <tr>
        <td>Bio:</td>
        <td>
            <p>{{ request.POST.bio|linebreaks }}</p>
        </td>
    </tr>
</table>
</div>
{% endif %}
{% endblock %}