<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Base title
        {% endblock %}
    </title>
</head>
<body>
{% block body %}
    Base body
{% endblock %}
<br>
<p>Just a paragraph without a block.</p>
<div>
    It is {% now "h:i" %} now
</div>
<div>
    {% now 'l' as current_weelday %}
    Today is {{ current_weelday }}
</div>
</body>
</html>