{% extends 'shopapp/base.html' %}

{% block title %}
    Products List
{% endblock %}

{% block body %}
    <h1>Products:</h1>
    {% if products %}
        <div>
        {% for product in products %}
            <div>
            <p>Name: {{ product.name }}</p>
            <p>Price: {{ product.price }}</p>
            <p>Discount: {% firstof product.discount 'no discount' %}</p>
            <p>In Stock: {% if product.is_instock %}
                <span>Yes</span>
                {% else %}
                <span>No</span>
            {% endif %} </p>
            </div><br>
        {% endfor %}

        </div>
    {% else %}
        <h2>No products yet</h2>
    {% endif %} 
{% endblock %}