{% extends "shopapp/base.html" %}

{% block title %}
Create product
{% endblock %}

{% block body %}
<h1>Create product</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
    <div>
        <a href="{% url 'shopapp:products_list' %}">
            Products list
        </a>
    </div>
{% endblock %}