{% extends 'shopapp/base.html' %}

{% block title %}
    Orders List
{% endblock %}

{% block body %}
    <h2>Orders:</h2>
    <div>
    {% if object_list %}

        <div>                <table>
                    <tr>
                        <th>Details:</th><th>Username:</th>   <th>Delivery address</th>  <th>Promocode</th> <th>Order created at</th> <th>Products</th>
                    </tr>
        {% for order in object_list %}


                <tr>
                    <td><a href="{% url 'shopapp:order_details' pk=order.pk %}">Order #{{ order.pk }}</a></td>
                    <td>{% firstof order.user.first_name order.user.username %}</td>  <td>{{ order.delivery_address }}</td>
                    <td>{{ order.promocode }}</td>   <td>{{ order.created_at }}</td>
                    <td>
                        {% for product in order.products.all %}
                            <span>{{ product.name }} for {{ product.price }} &#8381;<br></span>
                        {% endfor %}

                    </td>
                </tr>


        {% endfor %}
                            </table>
    {% else %}
        <h2>No orders yet.</h2></div>
    {% endif %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    <div>
        <a href="{% url 'shopapp:create_order' %}">
            Create an order
        </a>
    </div>
    <div>
        <a href="{% url 'shopapp:products_list' %}">
            Products list
        </a>
    </div>
{% endblock %}
