{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Products list' %}
{% endblock %}

{% block body %}
  <h1>{% translate 'Products' %}:</h1>
  {% if products %}
      <div>
      {% blocktranslate count product_count=products|length %}
          There is only one product.
          {% plural %}
          There are {{ product_count }} products.
      {% endblocktranslate %}
      </div>
        <div>
        {% for product in products %}
            <div>
            <p>{% translate 'Name' context 'product name' %}:
                <a href="{% url 'shopapp:product_details' pk=product.pk %}">{{ product.name }}</a></p>
            <p>{% translate 'Price' %}: {{ product.price }}</p>
            {% translate 'no discount' as no_discount %}
            <p>{% translate 'Discount' %}: {% firstof product.discount no_discount %}</p>
            <p>{% translate 'In Stock' %}: {% if product.is_instock %}
                <span>{% translate 'Yes' %}</span>
                {% else %}
                <span>{% translate 'No' %}</span>
            {% endif %} </p>
            {% if product.preview %}
                <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}" width="100">
            {% endif %}
            </div><br>
        {% endfor %}

        </div>
  {% else %}
        {% blocktranslate %}
            <h3>No products yet</h3>
        {% endblocktranslate %}
  {% endif %}

  {% if perms.shopapp.add_product %}
    <div>
        <a href="{% url 'shopapp:create_product' %}">
            {% translate 'Create a product' %}
        </a>
    </div>
  {% endif %}
  <div>
    <a href="{% url 'shopapp:orders_list' %}">
        {% translate 'Orders list' %}
    </a>
  </div>
{% endblock %}
