{% extends 'requestdataapp/base.html' %}

{% block title %}
  File upload
{% endblock %}

{% block body %}
  <h1>Upload file</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      <input type="file" name="myfile">
    </p>

    <button type="submit">Upload</button>
  </form>
    {% if error %}
  <p>{{ error }}</p>
    {% endif %}

{% endblock %}
