{% extends "myauth/base.html" %}

{% block title %}
Update profile
{% endblock %}

{% block body %}
<h1>Update profile</h1>
    <div>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="hidden" name="previous_page" value="{{ previous_page }}">
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
    </div>
    <div>
        <a href="{% url 'myauth:profile' user.pk %}">
            Back to profile #{{ user.pk }}
        </a>
    </div>

{% endblock %}