{% extends "shopapp/base.html" %}
{% block title %}
Product #{{ product.pk }}
{% endblock %}

{% block body %}
<h1>Product details:</h1>
<div><h2><strong>{{ product.name }}</strong></h2>
    <div>Description: <em>{{ product.description }}</em></div>
    <div>Price: {{ product.price }}</div>
    <div>Discount: {{ product.discount }}%</div>
    <div>Archived: {{ product.archived }}</div>
    <div>In stock: {{ product.is_instock }}</div>
</div>
    <div><a href="{% url 'shopapp:update_product' pk=product.pk %}">
        Update product
    </a></div>
    <div><a href="{% url 'shopapp:delete_product' pk=product.pk %}">
        Archive product
    </a></div>
    <div><a href="{% url 'shopapp:products_list' %}">
        > Back to products list
    </a></div>
{% endblock %}