{% extends 'myauth/base.html' %}
{% load static %}

{% block title %}
  About me - {{ user.pk }}
{% endblock %}


{% block body %}
  <h1>User info</h1>
  {% if user.is_authenticated %}
    <h2>Detail</h2>
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p style="white-space: pre-wrap;">Bio: {{ user.profile.bio }}</p>
  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}

<h2>
    Avatar:
</h2>
<div>
    {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}" width="150">
    {% else %}
        <p>User has no avatar yet</p>
    {% endif %}


</div>
    <div><a href="{% url 'myauth:update_profile' user.pk %}">
        Update profile
    </a></div>

{% endblock %}
