{% extends 'myauth/base.html' %}

{% block title %}
  User List
{% endblock %}

{% block body %}
  <h1>User List</h1>
  {% if user_list %}
    <ul>
      {% for user in user_list %}
        <li>
          <a href="{% url 'myauth:profile' pk=user.pk %}">
            {{ user.username }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No users found.</p>
  {% endif %}
{% endblock %}
