{% extends 'BlogApp/base.html' %}

{% block title %}
    Articles
{% endblock %}

{% block body %}
    <h2>Articles:</h2>
    <div>
    {% if object_list %}
        <div>
            <table>
                <tr>
                    <th>Title:</th><th>Pub. Date:</th>   <th>Author:</th>  <th>Category</th> <th>Tags</th>
                </tr>
        {% for article in object_list %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.pub_date }}</td>
                <td>{{ article.author.name }}
                <td>{{ article.category.name }}</td>
                <td>
                    {% for tag in article.tags.all %}
                        <span>{{ tag.name }} &nbsp;&nbsp;</span>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
            </table>
    {% else %}
        <h2>No articles yet.</h2>
        </div>
    {% endif %}
    </div>
{#    <div>#}
{#        <a href="{% url 'BlogApp:create_article' %}">#}
{#            Create new article#}
{#        </a>#}
{#    </div>#}
{% endblock %}
