{% extends "BlogApp/base.html" %}

{% block title %}
Article {{ object.pub_date }}
{% endblock %}

{% block body %}
<h1>{{ object.title }}:</h1>
    <div>
    <p>{{ object.category.name }}</p>
    <p>{{ object.content }}</p>
    </div>
    <div>
    <p>Publication date: {{ object.pub_date }}</p>
    Product in an order:
    <ul>{% for tag in object.tags.all %}
    <li>{{ tag.name }}</li> {%  endfor %}</ul>
    </div>
        <div>
        <a href="{% url 'BlogApp:articles' %}">
            Back to the Articles
        </a>
    </div>
{% endblock %}