{% extends "shopapp/base.html" %}
{% block title %}
Product #{{ product.pk }}
{% endblock %}

{% block body %}
<h1>Product details:</h1>
<div><h2><strong>{{ product.name }}</strong></h2>
    <div>Description: <em>{{ product.description }}</em></div>
    <div>Price: {{ product.price }}</div>
    <div>Discount: {{ product.discount }}%</div>
    <div>Archived: {{ product.archived }}</div>
    <div>In stock: {{ product.is_instock }}</div>
    {% if product.preview %}
        <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}" width="200">
    {% endif %}
<h2>
    Images:
</h2>
<div>
    {% for img in product.images.all %}
    <div>
        <img src="{{ img.image.url }}" alt="{{ img.image.name }}" width="450">
    <div>{{ img.description }}</div>
    </div>
    {% empty %}
        <div>No images uploaded yet.</div>
    {% endfor %}

</div>
</div>
    {% if perms.shopapp.change_product %}
    <div><a href="{% url 'shopapp:update_product' pk=product.pk %}">
        Update product
    </a></div>
    {% endif %}
    <div><a href="{% url 'shopapp:delete_product' pk=product.pk %}">
        Archive product
    </a></div>
    <div><a href="{% url 'shopapp:products_list' %}">
        > Back to products list
    </a></div>
{% endblock %}