{% extends 'shopapp/base.html' %}

{% block title %}
    Create product
{% endblock %}

{% block body %}
    <h1>
    Create a new product
    </h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>

        <span>OLD</span>
    <div>
        <a href="{% url 'shopapp:products_list' %}">
            > Back to products list
        </a>
    </div>
{% endblock %}