{% extends "shopapp/base.html" %}
{% load i18n %}

{% block title %}
{% translate 'Product' %} #{{ product.pk }}
{% endblock %}

{% block body %}
        <h1>{% translate 'Product details' %}:</h1>
        <div><h2><strong>{{ product.name }}</strong></h2>
        <div>{% translate 'Description' %}: <em>{{ product.description }}</em></div>
        <div>{% translate 'Price' %}: {{ product.price }}</div>
        <div>{% translate 'Discount' %}: {{ product.discount }}%</div>
        <div>{% translate 'Archived' %}: {{ product.archived }}</div>
        <div>{% translate 'In stock' %}: {{ product.is_instock }}</div>
    {% if product.preview %}
        <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}" width="200">
    {% endif %}
<h2>
{% blocktranslate count product.images.count as image_count %}
    There is only {{ image_count }} image:
    {% plural %}
    There are {{ image_count }} images:
 {% endblocktranslate %}
</h2>
<div>
    {% translate 'No images uploaded yet.' as no_img %}
    {% for img in product.images.all %}
    <div>
        <img src="{{ img.image.url }}" alt="{{ img.image.name }}" width="450">
    <div>{{ img.description }}</div>
    </div>
    {% empty %}
        <div>{{ no_img }}</div>
    {% endfor %}

</div>
</div>
    {% if perms.shopapp.change_product %}
        {% url 'shopapp:delete_product' pk=product.pk as archive_prod %}
        {% url 'shopapp:products_list' as prod_list %}

    <div><a href="{% url 'shopapp:update_product' pk=product.pk %}">
        {% translate 'Update product' %}
    </a></div>
    {% endif %}
    {% blocktranslate %}
    <div><a href="{{ archive_prod }}">
        Archive product
    </a></div>
    <div><a href="{{ prod_list }}">
        > Back to products list
    </a>
    {% endblocktranslate %}</div>
{% endblock %}