{% extends 'shopapp/base.html' %}

{% block title %}
    Orders List
{% endblock %}

{% block body %}
    <h2>Orders:</h2>
    <div>
    {% if orders %}
        <div>                <table>
                    <tr>
                        <th>Username:</th>   <th>Delivery address</th>  <th>Promocode</th> <th>Order created at</th> <th>Products</th>
                    </tr>
        {% for order in orders %}


                <tr>
                    <td>{% firstof order.user.first_name order.user.username %}</td>  <td>{{ order.delivery_address }}</td>
                    <td>{{ order.promocode }}</td>   <td>{{ order.created_at }}</td>
                    <td>
                        {% for product in order.products.all %}
                            <span>{{ product.name }} for {{ product.price }} &#8381;<br></span>
                        {% endfor %}
                        
                    </td>
                </tr>


        {% endfor %}
                            </table>
    {% else %}
        <h2>No orders yet.</h2></div>
    {% endif %} 
    </div>
{% endblock %}