{% extends 'shopapp/base.html' %}

{% block title %}
  Products list
{% endblock %}

{% block body %}
  <h1>Products:</h1>
  {% if products %}
        <div>
        {% for product in products %}
            <div>
            <p>Name: <a href="{% url 'shopapp:product_details' pk=product.pk %}">{{ product.name }}</a></p>
            <p>Price: {{ product.price }}</p>
            <p>Discount: {% firstof product.discount 'no discount' %}</p>
            <p>In Stock: {% if product.is_instock %}
                <span>Yes</span>
                {% else %}
                <span>No</span>
            {% endif %} </p>
            </div><br>
        {% endfor %}

        </div>
    {% else %}

    <h3>No products yet</h3>
  {% endif %}
    <div>
        <a href="{% url 'shopapp:create_product' %}">
            Create a product
        </a>
    </div>
    <div>
        <a href="{% url 'shopapp:orders_list' %}">
            Orders list
        </a>
    </div>
{% endblock %}
