{% extends "shopapp/base.html" %}

{% block title %}
Order # {{ object.pk }}
{% endblock %}

{% block body %}
<h1>Order #{{ object.pk }} details:</h1>
    <div>
    <p>Ordered by: {% firstof object.user.first_name object.user.username %}</p>
    <p>Promocode: <code>{{ object.promocode }}</code></p>
    <p>Delivery address: {{ object.delivery_address }}</p>
    </div>
    <div>
    Product in an order:
    <ul>{% for product in object.products.all %}
    <li>{{ product.name }} for {{ product.price }}</li> {%  endfor %}</ul>
    </div>
    <div><div>Archived: {{ object.archived }}</div></div>
    <div>
        <a href="{% url 'shopapp:update_order' pk=order.pk %}">
            Update order
        </a>
    </div>
    <div>
        <a href="{% url 'shopapp:delete_order' pk=order.pk %}">
            Delete order
        </a>
    </div>
    <div>
        <a href="{% url 'shopapp:orders_list' %}">
            Orders list
        </a>
    </div>
{% endblock %}