{% extends "shopapp/base.html" %}

{% block title %}
Create order
{% endblock %}

{% block body %}
<h1>Create an order</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
    <div>
        <a href="{% url 'shopapp:orders_list' %}">
            Orders list
        </a>
    </div>
{% endblock %}