{% extends 'shopapp/base.html' %}

{% block title %}
Shop Index
{% endblock %}

{% block body %}

<h1>{{ first_header|center:"100" }}</h1>
<div>
    Time running: {{ time_running }}
</div>
<div>
    {% lorem 5 p random %}
</div>
<div>
    {% now "h:i" as cur_time %}
    Now {{ cur_time|date:"e" }} test1
</div>
    <div>
    <strong>
        You have {{ items }} cherr{{ items|pluralize:"y,ies" }}
    </strong>
    </div>
    <div>
    My profile - <a href="{% url 'myauth:about-me' %}">{{ user.pk  }}</a>
    </div>
{% endblock %}
