{% extends 'myauth/base.html' %}
{% load static %}

{% block title %}
  User's profile - {{ profile.user.username }}
{% endblock %}


{% block body %}
  <h1>{{ profile.user.pk }} info</h1>
  {% if user.is_authenticated %}
    <h2>Detail</h2>
    <p>Username: {{ profile.user.username }}</p>
    <p>First name: {{ profile.user.first_name }}</p>
    <p>Last name: {{ profile.user.last_name }}</p>
    <p>Email: {{ profile.user.email }}</p>
    <p style="white-space: pre-wrap;">Bio: {{ profile.user.profile.bio }}</p>
  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}

<h2>
    Avatar:
</h2>
<div>
    {% if profile.user.profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="{{ profile.user.username }}" width="150">
    {% else %}
        <p>User has no avatar yet</p>
    {% endif %}
</div>
    {% if user == profile.user or user.is_staff %}
    <div><a href="{% url 'myauth:update_profile' pk=profile.user.pk %}">
        Update profile
    </a></div>
    {% endif %}
<div>
<a href="{% url 'myauth:user_list' %}">
        Back to the list of users
    </a>
</div>
{% endblock %}
